{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://api.hub-message.com/instances/{instanceId}/token/{instanceToken}",
      "variables": {
        "instanceId": {
          "default": "exemplo-instance"
        },
        "instanceToken": {
          "default": "exemplo-token"
        }
      }
    }
  ],
  "security": [
    {
      "clientToken": []
    }
  ],
  "paths": {
    "/send-text": {
      "post": {
        "description": "Envia mensagem de texto simples",
        "requestBody": {
          "description": "Dados da mensagem a ser enviada",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextMessage"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Mensagem adicionada na fila com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageQueue"
                }
              }
            }
          }
        }
      }
    },
    "/send-image": {
      "post": {
        "description": "Envia imagem como mensagem ",
        "requestBody": {
          "description": "Dados da mensagem a ser enviada",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageMessage"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Mensagem adicionada na fila com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageQueue"
                }
              }
            }
          }
        }
      }
    }
  
  },
  "webhooks": {
    "/plant/webhook": {
      "post": {
        "description": "Information about a new plant added to the store",
        "requestBody": {
          "description": "Plant added to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPlant"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return a 200 status to indicate that the data was received successfully"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "MessageQueue": {
        "type": "object",
        "properties": {
          "zaapId": {
            "description": "id da mensagem na fila do hub message.",
            "type": "string"
          },
          "messageId": {
            "description": "id da mensagem no whatsapp.",
            "type": "string"
          },
          "id": {
            "description": "id da mensagem no whatsapp para compatibilidade de versões anteriores.",
            "type": "integer"
          }
        }
      },
      "TextMessage": {
        "required": [
          "phone",
          "message"
        ],
        "type": "object",
        "properties": {
          "phone": {
            "description": "Número de telefone a receber a mensagem",
            "type": "string"
          },
          "message": {
            "description": "Mensagem a ser enviada",
            "type": "string"
          },
          "delayTyping": {
            "description": "Nesse atributo um delay é adicionado na mensagem. Você pode decidir entre um range de 1~15 sec, significa quantos segundos ele vai ficar com o status 'Digitando...'. (Ex 'delayTyping': 5, ). O delay default caso não seja informado é de 0",
            "type": "integer"
          }
        }
      },
      "ImageMessage": {
        "required": [
          "phone",
          "image"
        ],
        "type": "object",
        "properties": {
          "phone": {
            "description": "Número de telefone a receber a image",
            "type": "string"
          },
          "image": {
            "description": "Url ou base a ser enviado",
            "type": "string"
          },
          "delayTyping": {
            "description": "Nesse atributo um delay é adicionado na mensagem. Você pode decidir entre um range de 1~15 sec, significa quantos segundos ele vai ficar com o status 'Digitando...'. (Ex 'delayTyping': 5, ). O delay default caso não seja informado é de 0",
            "type": "integer"
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "clientToken": {
        "type": "apiKey",
        "in": "header",
        "name": "Client-Token"
      }
    }
  }
}